@import url('https://fonts.googleapis.com/css2?family= Inter: família= Inter:peso@200;300;400;500 & display=swap');

$cor-do-body:rgba(64, 115, 141, 0.432);
$cor-button:rgba(5,112, 166, 0.994);
$cor-hover:rgba(15, 169, 247, 0.994);
$cor-body:rgb(129, 133,135,0.45);
$cor-branco:#fff;
$cor-cinza-claro:#eeeeee75;
$cor-roxo:#6c63ff;


*{
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: 'Inter',sans-serif;
}

body{
  width: 100%;
  height: 100vh;
  display: flex;
  justify-content: center;
  align-items: center;
  background: $cor-do-body;
}

.container{
  width: 48%;
  height: 80vh;
  display: flex;
  justify-content: center;
  box-shadow: 0.5rem 0.5rem 1rem rgba(0,0,0, .212);

  .form{
    width: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    background-color: #fff;
    padding: 3rem;
    background-color: $cor-cinza-claro;

    .form-header{
      margin-bottom: 3rem;
      display: flex;
      justify-content: space-between;
        h1::after{
        content: '';
        display: block;
        width: 5rem;
        height: 0.3rem;
        background-color: $cor-button;
        margin: 0 auto;
        position: absolute;
        border-radius: 1rem;
      }
    
  }

    .voltar-button{
      display: flex;
      align-items: center;
   
      button{
        border: none;
        background-color: $cor-button;
        padding: 0.4rem 1rem;
        border-radius: 0.5rem;
        cursor: pointer;
        &:hover{
          background-color: $cor-hover;
        }
        a{
          text-decoration: none;
          font-weight: 500;
          color: #fff;
        }
      }
    }
  
    .input-group{
      display: flex;
      flex-wrap: wrap;
      justify-content: space-between;
      padding: 0.2rem 0;

      .input-box{
        display: flex;
        flex-direction: column;
        margin-bottom: 1.1rem;

        label{
          font-size: 0.75rem;
          font-weight: 600;
          color: #000000c0;
        }

        input{
        margin: 0.6rem 0;
        padding: 0.8rem 1.2rem;
        border: none;
        border-radius: 1rem;
        box-shadow: 0.1rem 0.1rem 0.6rem #0000001c;
        ::placeholder{
          color: #000000be;
        }
        &:hover{
          background: #eeeeee75;
        }

        :focus-visible{
          outline: 0.1rem solid #6c63ff;
        }

        }

      }
    }

    .gender-title{
      font-size: 1.1rem;
      font-weight: 600;
      color: #000000c0;
    }

    .gender-group{
      display: flex;
      justify-content: space-between;
      margin-top: 0.62rem;
      padding: 0 0.5rem;

      .gender-input{
        display: flex;
        align-items: center;

        label{
          font-size: 0.81rem;
          font-weight: 600;
          color: #000000c0;
        }
        input{
          margin-right: 0.35rem;
        }
      }
    
    }   

  }

  .continue-button{
    button{
      width: 100%;
      margin-top: 2.5rem;
      border: none;
      background-color: $cor-button;
      padding: 0.62rem;
      border-radius: 0.5rem;
      cursor: pointer;
      &:hover{
        background-color: $cor-hover;
      }
      a{
        text-decoration: none;
        font-size: 0.93rem;
        font-weight: 500;
        color: #fff;
      }
    }
  }

}

@media screen and (max-width:1330px) {
.container{
  width: 50%;

  .form-image{
    display: none;
  }

  .form{
    width: 100%;
  }
}
}

@media screen and (max-width:1064px) {
  .container{
    width: 60%;
    height: auto;
  
  .form{
    width: 100%;
   .input-group{
    flex-direction: column;
    overflow: scroll;
    flex-wrap: nowrap;
    max-height: 10rem;
    padding-right: 6rem;
   }

   .gender-inputs{
    margin-top: 2rem;

    .gender-group{
      flex-direction: column;

      .gender-input{
        margin-top: 10px;
      }
    }
   }

  }
  }
}


@media screen and (max-width:650px) {
  .container{   
   width: 62%;
  .form{
    width: 105%;


  .form-header{
    justify-content: center;
    
    .title{
      font-size: 0.8rem;
      margin-right: 0.8rem;
    }}
    .input-group{
      padding-right: 2rem;
    }
}}
}

@media screen and (max-width:450px) {
  .container{  
    width: 70%; 
  .form{
    width: 105%;
  margin-right: 1rem;

    }}
}

@media screen and (max-width:350px){

  .container{  
    width: 85%; 
  .form{
    width: 105%;
    }}

}